<carousel [loop]='true' [autoplay]='true' [cellsToShow]='3'>

  <div class='carousel-cell' >
    <img  src='assets/img/moto.jpg' alt='Moto Rash 3D img' class="image" id='moto'>
    <img src='assets/img/moto2.jpg' alt='Poptap img'>
  </div>
  <div class='carousel-cell' id='two'>
    <img src='assets/img/csr.jpg' alt='CSR 2 img' id='csr'>
    <img src='assets/img/csr2.jpg' alt='CSR 2 img'>
  </div>
  <div class='carousel-cell'><div routerLink="/subwaysurfers">
    <img  src='assets/img/subwaysurfers.jpg' alt='subway surfers img'>
  </div></div>
  <div class='carousel-cell' id='three'>
    <img src='assets/img/doom.jpg' alt='Doom img' id='doom'>
    <img src='assets/img/doom2.jpg' alt='Doom img'>
  </div>
  <div class='carousel-cell' id='four'>
    <img src='assets/img/poptap.jpg' alt='Poptap img' id='poptap'>
    <img src='assets/img/poptap2.jpg' alt='Poptap img'>
  </div>
</carousel>


