<carousel [loop]='true' [autoplay]='true' [cellsToShow]='3'>
  <div class='carousel-cell' >
    <img src='assets/img/subwaysurfers.jpg' alt='subway surfers img'>
  </div>
  <div class='carousel-cell' >
    <img src='assets/img/subwaysurfers.jpg' alt='subway surfers img'>
  </div>
  <div class='carousel-cell' >
    <img src='assets/img/subwaysurfers.jpg' alt='subway surfers img'>
  </div>
  <div class='carousel-cell' >
    <img src='assets/img/subwaysurfers.jpg' alt='subway surfers img'>
  </div>
  <div class='carousel-cell' >
    <img src='assets/img/subwaysurfers.jpg' alt='subway surfers img'>
  </div>
  <div class='carousel-cell' >
    <img src='assets/img/subwaysurfers.jpg' alt='subway surfers img'>
  </div>
</carousel>
