<carousel [loop]='true' [autoplay]='true' [cellsToShow]='3'>
  <div class='carousel-cell' ><a routerLink='/subwaysurfers'>
    <img src='assets/img/subwaysurfers.jpg' alt='subway surfers img'>
  </a></div>
  <div class='carousel-cell' ><a routerLink='/indevelopment'>
    <img src='assets/img/subwaysurfers.jpg' alt='subway surfers img'>
  </a></div>
  <div class='carousel-cell' ><a routerLink='/indevelopment'>
    <img src='assets/img/subwaysurfers.jpg' alt='subway surfers img'>
  </a></div>
  <div class='carousel-cell' ><a routerLink='/indevelopment'>
    <img src='assets/img/subwaysurfers.jpg' alt='subway surfers img'>
  </a></div>
  <div class='carousel-cell' ><a routerLink='/indevelopment'>
    <img src='assets/img/subwaysurfers.jpg' alt='subway surfers img'>
  </a></div>
</carousel>
