<h1>All Games</h1>


<div class="album py-5">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

        <div class="col"><a routerLink="/subwaysurfers">
          <div class="card" style="width: 20rem; color: white; background-color: #343a40;border: none; margin-left: 5px;"><img class="card-img-top" src="./assets/img/subwaysurfers.jpg" alt="Card image cap"><div class="card-body"><h5 class="card-title">Subway Surfers</h5><p class="card-text">
          </div></div></a>
        </div>
        <div class="col" ><a routerLink="/indevelopment">
          <div class="card" style="width: 20rem; color: white; background-color: #343a40;border: none;"><img class="card-img-top" src="./assets/img/supermario.jpg" alt="Card image cap" id='mario'><div class="card-body"><h5 class="card-title">Super Mario Bros</h5><p class="card-text">
          </div></div></a>
        </div>
        <div class="col"><a routerLink="/indevelopment">
          <div class="card" style="width: 20rem; color: white; background-color: #343a40;border: none;"><img class="card-img-top" src="./assets/img/poptap.jpg" alt="Card image cap"><div class="card-body"><h5 class="card-title">Pop Tap Beat</h5><p class="card-text">
          </div></div></a>
        </div>
        <div class="col"><a routerLink="/indevelopment">
          <div class="card" style="width: 20rem; color: white; background-color: #343a40;border: none;"><img class="card-img-top" src="./assets/img/space.jpg" alt="Card image cap"><div class="card-body"><h5 class="card-title">Space Invaders Forever</h5><p class="card-text">
          </div></div></a>
        </div>
        <div class="col"><a routerLink="/indevelopment">
          <div class="card" style="width: 20rem; color: white; background-color: #343a40;border: none;"><img class="card-img-top" src="./assets/img/hillclimb.jpg" alt="Card image cap"><div class="card-body"><h5 class="card-title">Hill Climb Racing 2</h5><p class="card-text">
          </div></div></a>
        </div>
        <div class="col"><a routerLink="/indevelopment">
          <div class="card" style="width: 20rem; color: white; background-color: #343a40;border: none;"><img class="card-img-top" src="./assets/img/csr.jpg" alt="Card image cap"><div class="card-body"><h5 class="card-title">CSR 2</h5><p class="card-text">
          </div></div></a>
        </div>
        <div class="col"><a routerLink="/indevelopment">
          <div class="card" style="width: 20rem;  color: white; background-color: #343a40;border: none;"><img class="card-img-top" src="./assets/img/mariokart.jpg" alt="Card image cap"><div class="card-body"><h5 class="card-title">Mario Kart 64</h5><p class="card-text">
          </div></div></a>
        </div>
        <div class="col"><a routerLink="/indevelopment">
          <div class="card" style="width: 20rem; color: white; background-color: #343a40;border: none;"><img class="card-img-top" src="./assets/img/doom.jpg" alt="Card image cap"><div class="card-body"><h5 class="card-title">Doom 1993</h5><p class="card-text">
          </div></div></a>
        </div>
        <div class="col"><a routerLink="/indevelopment">
          <div class="card" style="width: 20rem;  color: white; background-color: #343a40;border: none;"><img class="card-img-top" src="./assets/img/kirby.jpg" alt="Card image cap"><div class="card-body"><h5 class="card-title">Kirby Super Star</h5><p class="card-text">
          </div></div></a>
        </div>
        <div class="col"><a routerLink="/indevelopment">
          <div class="card" style="width: 20rem;  color: white; background-color: #343a40;border: none;"><img class="card-img-top" src="./assets/img/pacman.jpg" alt="Card image cap"><div class="card-body"><h5 class="card-title">Pac-Man</h5><p class="card-text">
          </div></div></a>
        </div>
        <div class="col"><a routerLink="/indevelopment">
          <div class="card" style="width: 20rem; color: white; background-color: #343a40;border: none;"><img class="card-img-top" src="./assets/img/sonic.jpg" alt="Card image cap"><div class="card-body"><h5 class="card-title">Sonic The Hedgehog</h5><p class="card-text">
          </div></div></a>
        </div>
        <div class="col"><a routerLink="/indevelopment">
          <div class="card" style="width: 20rem;  color: white; background-color: #343a40;border: none;"><img class="card-img-top" src="./assets/img/moto.jpg" alt="Card image cap"><div class="card-body"><h5 class="card-title">Road Rash 3D</h5><p class="card-text">
          </div></div></a>
        </div>

    </div>
</div>
</div>



