hr
{
width: 65%;
height: 2px;
background-color: white;
margin-bottom: 7px;
margin-right: auto;
margin-left: auto;
border-width: 4px;
margin-top: 5px;
}

h5 {
margin-bottom: -5px;
margin-left: 55%;
}

h5:hover {
  color: grey;
}
a {
  background-color: none;
  text-decoration: none;
  color:#fff;
}
